{
  "printWidth": 80,
  "singleQuote": true,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "importOrder": ["^@/", "^components/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
